<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Додавання оголошення -Дошка оголошень</title>
</head>
<body>
    <h1>Дошка оголошень</h1>
    <div>
        <a href="{% url 'index' %}">Головна</a>
        {%  for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Додати">
</form>
</body>
</html>